/* 商铺中心样式 */
.m-stores{
	position: relative;
	padding-top: 55px;
	background-color: #fff;
}

.m-stores .floors{
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: 50px;
}

.m-stores .floors li{
	position: relative;
	float: left;
	width: 20%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
	background-color: #4cbcf6;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.m-stores .floors li span{
	position: relative;
	z-index: 2;
}

.m-stores .floors li.active{
	color: #4cbcf6;
	font-weight: 700;
}
.m-stores .floors li::after{
	content: "";
	position: absolute;
	z-index: 1;
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 5px;
	border: 1px solid #fff;
	background: transparent;
}
.m-stores .floors li.active::after{
	z-index: 0;
	background-color: #fff;
}


.m-stores .store-list li{
	margin-top: 10px;
}


/* 店铺内容页面样式 */
.m-view{
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 50px;
	right: 0;
}

.m-view .go-top{
	position: fixed;
    right: 5px;
    bottom: 70px;
    z-index: 999;
    width: 50px;
    height: 50px;
    font-size: 45px;
    color: #666;
}

.m-view .chile-view{
	width: 100%;
	height: 100%;
	font-size: 100px;
}

.child-view{
	position: relative;
	height: 100%;
	background-color: #fff;
}
.child-view img{
	position: absolute;
	width: 100%;
	max-height: 100%;
	top: 50%;
	transform: translate(0, -50%)
}



.tel-num{
	text-align: center;
	height: 25%;
	overflow: hidden;
	
}






.tel-num .innerbox {
	height: 100%
}
.tel-num .innerbox>div{
	height: 33.33%;
	color: #5dcdfd;
	font-size: 20px;
	padding: 0 10px;
}
.tel-num .innerbox .main-goods{
	color: #337ab7;
	font-weight: 700;
}
.tel-num .innerbox> div::after{
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.tel-num .innerbox .adress{

}
.tel-num .tel-icon{
	margin: 0px auto;
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: middle;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	background-color: #5dcdfd;
	transition: 1s;
	-webkit-transition: 1s;
}


.tel-num .tel-icon .fa{
	line-height: 100%;
	color: #fff;
	font-size: 50px;
	cursor: pointer;
	vertical-align: middle;
}

.tel-num .tel-num-list{
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%;
	right: 50%;
	bottom: 50%;
	left: 50%;
	z-index: 1000;
	/* transition: 1s; */
	/* -webkit-transition: 1s; */
	/* transform: scale(0, 0); */
	/* -webkit-transform: scale(0, 0); */
}
.tel-num .tel-num-list.sd{
	animation: close_tel-num-list 0.5s ease-out both;
	-webkit-animation: close_tel-num-list 0.5s ease-out both;
}
.tel-num .tel-num-list.sp{
	/* transform: scale(0, 0); */
	animation: show_tel-num-list 0.5s ease-out both;
	-webkit-animation: show_tel-num-list 0.5s ease-out both;
}

@-webkit-keyframes close_tel-num-list{
	0% {/* transform: scale(0, 0) */

		opacity: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	100% {/* transform: scale(1,1) */

		opacity: 0;
		top: 50%;
		right: 50%;
		bottom: 50%;
		left: 50%;
	}
}
@keyframes close_tel-num-list{
	0% {/* transform: scale(0, 0) */

		opacity: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	100% {/* transform: scale(1,1) */

		opacity: 0;
		top: 50%;
		right: 50%;
		bottom: 50%;
		left: 50%;
	}
}

@keyframes show_tel-num-list{
	0% {/* transform: scale(1, 1) */

		opacity: 0;
		top: 50%;
		right: 50%;
		bottom: 50%;
		left: 50%;
	}
	100% {/* transform: scale(0,0) */
		opacity: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}


.tel-num .tel-num-list ul{
	position: absolute;
	z-index: 999;
	top: 50%;
	width: 100%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

.tel-num .tel-num-list ul li{

	padding: 10px;
	display: block;
	overflow: hidden;
}

.tel-num-list ul li a{
	line-height: 45px;
	font-size: 25px;
}

.tel-num-list .close{
	color: #fff;
	opacity: 1;
}

.tel-num-list .close:hover{
	opacity: 1;
}

.tel-num-list .bg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: #000;
}

/* 浏览量 */

.child-view .access{
	position: absolute;
    top: 10px;
    left: 20px;
    /* width: 100%; */
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding: 3px 5px 3px 10px;
    background-color: #337ab7;

}

.child-view .access span{
	display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 8px;
    color: #337ab7;
    background-color: #fff;
}