/**
 * 商铺中心列表自定义样式
 */

.m-storse-center{width: 100%}
    .floor-list{width: 100%;}
    .floor-list::after{content: "";display: block;clear: both}
    .floor-list > li{float: left;width: 20%}
    .floor-list > li  h2{margin: auto; width: 90%;height: 50px; line-height: 50px; text-align:center;color: #666;border-radius: 10px 10px 0 0; background-color: #fff;cursor: default;transition: 0.5s;-wenkit-transition:0.5s;}
	.floor-list > li  h2:hover{ color: #fff; background-color: #3194ff; }
	.floor-list > li.active   h2{color: #fff; background-color: #3194ff; }

	.storse-list > .floor{width: 100%;margin-top: 20px;}
	.storse-list > .floor > .items-list::after{content: "";display: block;clear: both;}
	.storse-list  .store{float: left; width: 25%;padding-bottom: 30px;}
	@media (max-width: 1220px){
		.storse-list  .store{
			width: 33.33%
		}
	}

	.storse-list  .items-list{position: relative}
	.storse-list  .store > .inner-box{position: relative; padding-top: 5px; margin: auto; width: 90%;border:1px solid transparent}
	.storse-list  .store > .inner-box:hover{border-color: #0086cc}
	.storse-list  .store > .inner-box .img{margin: auto; display: block; width: 250px;height: 187px;overflow: hidden;}
	.storse-list  .store > .inner-box .img img{width: 100%}
	
	.storse-list  .store > .inner-box .title{display: block;padding: 0px;}
	.storse-list  .store > .inner-box .title h3{position: absolute; top: 157px; left: 10px;padding: 5px; height: auto; font: 18px/25px "Microsoft YaHei";color: #FFF; text-indent: 5px; overflow: hidden;background-color: #0086cc;}
	.storse-list  .store > .inner-box p{ padding: 5px; color: #f00; }

	/*缩略图*/
	.storse-list  .store .thum_imgs{width: 100%; padding: 10px;}
	.storse-list  .store .thum_imgs .thum_img {width: 70px; float: left;}
					     .thum_img_box{padding: 3px ;font-size: 0;}

					     .thum_img_box img{width: 60px; border:2px solid transparent;cursor: pointer;}
					     .thum_img_box img:hover,.thum_img_box img.active{border-color: #3194ff}

	.storse-list  .store .big-pic{position: absolute;z-index: 999; bottom: 100px;left:100%;height: 450px;border: 2px solid #3194ff;padding: 3px; font-size: 0; background-color: #FFF;box-shadow: 3px 3px 15px 2px rgba(55, 55, 55, .4)}
						 .big-pic img{width: 600px;height: 450px;}

.m-storse-center .main-goods{
	height: 320px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	background-image: url('../images/main-goods.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #3194ff;
}
	.main-goods .content{
		margin: 120px auto 0;
		padding: 10px;
		width: 540px;
		height: 190px;
		box-sizing: border-box;
		font-size: 17px;
    	line-height: 1.6;
		color: #0086cc;
		background-color: #fff;
	}

	.main-goods .content .f-1,
	.main-goods .content .f-2,
	.main-goods .content .f-3,
	.main-goods .content .f-4{
		text-align: center;
		font-size: 25px;
	}
	.main-goods .floor-num{
		position: absolute;
	    top: 94px;
	    text-align: right;
	    width: 210px;
	    font-size: 140px;
	    color: #fff;
	}

	@media (max-width: 1220px){
		.main-goods .floor-num{
			position: absolute;
		    top: 143px;
		    text-align: right;
		    width: 98px;
		    font-size: 95px;
		    color: #fff;
		}
	}

/*翻页器*/
.paging-nav{}

.paging-nav li,
.paging-nav a{
	float: left;
	padding: 5px 10px;
	border: 1px solid transparent;
	cursor: pointer;
	background-color: #fff;

}


.paging-nav li:hover,
.paging-nav a:hover{
	color: #3194ff;
	border-color: #3194ff;
}


.paging-nav li.active,
.paging-nav a.active{
	color: #fff;
	background-color: #3194ff;
}

/*=======================================================*/

/**
 * 店铺内容页样式
 */

/*路径导航*/
.m-content{}

.m-content .content-nav{
	padding: 20px;
}

.m-content .content-nav .items{}

.m-content .content-nav .items .item{
	position: relative;
	z-index: 9;
	float: left;
	padding: 0 20px 0 50px;
	font:30px/2 "Microsoft YaHei";

	background-color: #337ab7;
}
.m-content .content-nav .items .item::after{
	content: '';
	position: absolute;
	right: -60px;
	width: 0px;
	height: 0px;
	border: 30px solid #fff;
	border-left-color: #337ab7;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.m-content .content-nav .items .item2{
	z-index: 4;
	background-color: #5cb85c;
}

.m-content .content-nav .items .item2::after{
	border-left-color: #5cb85c;
}

.m-content .content-nav .items .item3{
	z-index: 3;
	background-color: #5bc0de;
}
.m-content .content-nav .items .item3::after{
	border-left-color: #5bc0de;
}

.m-content .content-nav .items .item4{
	z-index: 2;
	background-color: #777;
}
.m-content .content-nav .items .item4::after{
	border-left-color: #777;
}

.m-content .content-nav .items .item a,
.m-content .content-nav .items .item a:hover{
	color: #fff;
}

/*-----------------------------------------------------*/
/*内容区域头部*/

.full-screen{
	position: absolute;
}

.m-content .content-head{
	position: relative;
	height: 800px;
}

.m-content .content-head .full-screen{
	height: 800px;
	background-color: #51bef9;
}

.m-content .content-head .main-pic{
	padding-top: 100px;
}
.m-content .content-head .main-pic img{
	width: 800px;
	height: 600px;
	border: 5px solid #fff;
	box-shadow: 10px 10px 30px 2px rgba(50, 50, 50, 0.4);
}

/*------------------------------------------------------------*/
/*店铺相关信息*/

.m-content .content-info{
	position: relative;
	overflow: hidden;
	background-image: url('/e/templates/150703/images/bg_logo.png');
	background-size: auto 80%;
	background-repeat: no-repeat;
	-moz-background-attachment: fixed;
	-o-background-attachment: fixed;
	background-position: 80% bottom;
}

.m-content .content-info .store-info{
	padding: 50px;
	
}

.m-content .content-info::before{
	content: "";
	position: absolute;
	left: 0;
	top: -150px;
	width: 400px;
	height: 400px;
	opacity: .3;
	filter: alpha(opacity=30);
	background-image: url('/e/templates/150703/images/bg_logo.png');
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.m-content .content-info .store-info .ico-bg{
	position: relative;
	width: 120px;
	height: 120px;
	margin-right: 30px;
	overflow: hidden;
	border-radius: 50%;
	background-color: #51bef9;
}

 .store-info .item{
 	margin-top: 30px;
 }
	 .ico-bg::before,
	 .ico-bg::after{
	content: "";
	display: block;
	width: 118px;
	height: 118px;
	border-radius: 50%;
	margin: 1px;
	background-color: #fff;
}

	.ico-bg::after{
	position: absolute;
	top: 24px;
	left: 24px;
	width: 72px;
	height: 72px;
	background-color: #51bef9;
}
	.ico-bg .fa{
		position: absolute;
	    z-index: 9;
	    top: 24px;
	    left: 24px;
	    font-size: 49px;
	    color: #fff;
	    text-align: center;
	    width: 72px;
	    height: 72px;
	}
	.ico-bg .fa::before{
		line-height: 72px;
	}

.store-info h2{
	text-align: left;
	font-size: 35px;
}
.store-info p{
	text-align: left;
	font-size: 18px;
	max-width: 500px;
}


/*------------------------------------------------------------*/
/*店铺图片展示*/

.m-content .content-pic{}

	.content-pic .pic{
		padding: 50px 0px 10px 10px;
		font-size: 0;
	}

	.content-pic .img{
		border: 2px solid #51bef9;
	}

	.content-pic .img img{
		width: 800px;
		border: 5px solid #fff;
	}

	.content-pic .right{
		height: 100%;
		position: relative;
	}
	.content-pic .line{
		position: absolute;
		left: -50px;
		top: -50px;
		width: 2px;
		height: 674px;
		background-color: #51bef9;
	}

	.content-pic .line::before{
		content: "";
		position: absolute;
		top: 50%;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 2px solid #51bef9;
		background-color: #fff;

		transform: translate(-50%);
		-webkit-transform: translate(-50%);
	}
	.content-pic .line::after{
		content: "";
		position: absolute;
		top: 50%;
		left: -40px;
		width: 40px;
		height: 80px;
		background-color: #fff;
	}

	.content-pic .circle{
		position: absolute;
		top: 50%;
		width: 62px;
		z-index: 9;
		height: 60px;
		border-radius: 50%;
		background-color: #51bef9;
		transform: translate(-50%,2px) scale(0.8);
		-webkit-transform: translate(-50%,2px) scale(0.8);
	}