<div id="stores-app">
	<ul class="floor-list">
		<li ng-repeat="floor in data" data-floor="{{floor.floordatas.floorNum}}" class="{{'floor_'+floor.floordatas.floorNum}}" ng-class="{'active':floor.floordatas.floorNum == section.floornumber}">
			<a ng-href="#/{{floor.floordatas.floorNum}}/1">
				<h2>{{floor.floordatas.cn_name}}</h2>	
			</a>	
		</li>
	</ul>
	<div class="main-goods">
		<div class="floor-num" ng-bind="{{data[section['floornumber']].floordatas.num_name}}">
			
		</div>
		<div class="content" >
			<p ng-class="'f-'+data[section['floornumber']].floordatas.num_name" ng-bind="data[section['floornumber']].floordatas.main_goods.s"></p>
			<p ng-class="'f-'+data[section['floornumber']].floordatas.num_name" ng-bind="data[section['floornumber']].floordatas.main_goods.cn"></p>
			<p ng-class="'f-'+data[section['floornumber']].floordatas.num_name" ng-bind="data[section['floornumber']].floordatas.main_goods.en"></p>
		</div>
	</div>
	<div class="paging-nav">
			
				<a ng-href="#/{{section.floornumber}}/1">首页</a>
			
			
				<a ng-href="#/{{section.floornumber}}/{{section.pagenumber==1 ? 1 : section.pagenumber-1}}">上一页</a> 
			
			
				<a ng-repeat="num in pageNumber" ng-href="#/{{section.floornumber}}/{{num}}" ng-bind="num" ng-class="{'active': num == section.pagenumber}"></a>
			
			
				<a ng-href="#/{{section.floornumber}}/{{section.pagenumber == pageNum ? pageNum : section.pagenumber+1}}">下一页</a>
			
			
				<a ng-href="#/{{section.floornumber}}/{{pageNum}}">末页</a>
			
			<div class="clear"></div>
		</div>
	<div class="storse-list">
        <div class="floor">
            <ul class="items-list">
            	<li ng-repeat="store in showStorList | orderBy:'title'" class="store f-pr {{'store_'+store.id}}">
            		<div class="inner-box"  ng-mouseenter="bigPic($event,store)" ng-mouseleave="delBigPic(store)">
	            		<a class="img" ng-href="{{store.Detail_Url}}">
	            			<img ng-src="{{store.titlepic}}" alt="">
	            		</a>
	            		<a class="title" ng-href="{{store.Detail_Url}}">
	            			<h3 ng-bind="store.title"></h3>
	            		</a>
	            		<p ng-bind="store.pa_store_num"></p>
            		</div>
            		<ul class="thum_imgs">
            			<li class="thum_img" ng-repeat="thum_img in store.pa_imgs | limitTo : 4">
            				<div class="thum_img_box">
            					<img ng-src="{{thum_img}}" ng-click="changeTitlePic(store,thum_img)">
            				</div>
            			</li>
            		</ul>
            		<div class="big-pic" ng-if="store.isShow" ng-class="{'pleft':store.left==true,'ptop':store.top==true}">
            			<img ng-src="{{store.titlepic}}">
            		</div>
            	</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="paging-nav-2">
    	<div class="paging-nav">
			
				<a ng-href="#/{{section.floornumber}}/1">首页</a>
			
			
				<a ng-href="#/{{section.floornumber}}/{{section.pagenumber==1 ? 1 : section.pagenumber-1}}">上一页</a> 
			
			
				<a ng-repeat="num in pageNumber" ng-href="#/{{section.floornumber}}/{{num}}" ng-bind="num" ng-class="{'active': num == section.pagenumber}"></a>
			
			
				<a ng-href="#/{{section.floornumber}}/{{section.pagenumber == pageNum ? pageNum : section.pagenumber+1}}">下一页</a>
			
			
				<a ng-href="#/{{section.floornumber}}/{{pageNum}}">末页</a>
			
			<div class="clear"></div>
		</div>
    </div>
</div>