/*下拉样式*/
#Menu ul li{position:relative;z-index:10;}
#Menu ul li ul{position:absolute;left:0;background-color:#cccccc;line-height:35px;padding:1px 1px 0 1px;display:none;width:190px;}/*一级样式*/
#Menu ul li ul li{position:relative;width:190px;height:35px;padding:0px 0 0 0;background-color:#D5B345;text-align:center;}/*li行样式*/
#Menu ul li ul li ul{position:absolute;left:120px;top:0px;display:none;}/*二级样式*/
#Menu ul li ul li ul li ul{position:absolute;top:0px;display:none;}/*三级样式*/


#Menu ul li:hover{} /*鼠标经过时栏目li样式*/
#Menu ul li:hover a.menu{}
#Menu ul li:hover ul{display:block} 
#Menu ul li:hover ul li ul{display:none;} 
#Menu ul li ul li:hover ul{display:block;}
#Menu ul li ul li:hover{background-color:#F6C043}/*鼠标经过时下拉li样式*/
#Menu ul li ul li:hover ul li ul{display:none} 
#Menu ul li ul li ul li:hover ul{display:block;} 


#Menu ul li ul a{display:block!important;display:inline;height:35px;text-align:center;overflow:hidden;color:#FFF;}/*默认a样式*/
#Menu ul li ul a:hover{text-decoration:none;color:#000}/*鼠标经过a样式*/
