/**
 * 首页轮播图
 */

#home-page-silde .carousel-indicators{
	text-align: right;
}
#home-page-silde .carousel-indicators li{
	width: 10px;
	height: 3px;
	margin-left: 5px;
	border-radius: 0px;
	border: 1px solid #FFF;
	background-color: #31b0d5;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
#home-page-silde .carousel-indicators li.active{
	width: 13px;
    height: 5px;
}
#home-page-silde .carousel-control .fa{
	position: absolute;
	top: 50%;
	font-size: 30px;
}
/**
 * 联系电话
 */
.m-lxphone{
	width: 100%;
}

.m-lxphone.btn{
	padding: 12px;

	font-size: 25px;
	background-color: #333;
	border-color: #333;
}

.m-lxphone.btn:hover{
	background-color: #111;
}

.m-lxphone .fa{
	margin-right: 10px;
}

/*---------------------------------------------------------------------------*/
/**
 * 首页新闻中心
 */


/*---------------------------------------------------------------------------*/

/**
 * 页面导航
 */
.page-nav .btn::before{
	content: "";
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.page-nav .col-xs-4 {
	padding: 0 2px;
}

.page-nav .btn{
	width: 100%;
}
.page-nav .ibk{
	vertical-align: middle;
}
.page-nav .ibk i,
.page-nav .ibk span{
	display: block;
	line-height: 1.5;
}
/*---------------------------------------------------------------------------*/

/*首页店铺列表模块*/

.m-stores-list img{
	max-width: 800px;

}

.m-stores-list .items .media{
	position: relative;
	padding: 10px 10px;
    border-radius: 5px;
    
    border: 1px solid #5bc0de;
    background-color: #fff;
}
.m-stores-list .items .media .access{
	position: absolute;
    top: 5px;
    right: 5px;
    padding: 0 5px;
    border-radius: 0 15px;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    background-color: #5bc0de;
}
.m-stores-list .items .media .access span{
	display: inline-block;
    margin: 2px;
    margin-right: 5px;
    padding: 0 5px;
    color: #0086cc;
    border-radius: 10px;
    background-color: #fff;
}

.m-stores-list .items .media a{
	color: #333;
}
.m-stores-list .items .media a:focus{
	text-decoration: none
}

.m-stores-list .items .media .media-left .img{
	padding: 3px;
    border: 1px solid #5bc0de;
    border-radius: 5px;

}

.m-stores-list .items .media .media-body{
	padding-top: 15px;
}

.m-stores-list .show-more{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	border-radius: 10px;
	background-color: #5bc0de;
}
.m-stores-list .no-more{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	border-radius: 10px;
	background-color: #CCC;
}
.m-stores-list .show-more.touch{
	background-color: #0B93BB;
}