<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angelwgh'homepage</title>
	<link rel="stylesheet" type="text/css" href="highlight/styles/solarized-light.css">
</head>
<body ng-controller="mainController">
	angelwgh'homepage1
	
	<input type="text" ng-model="text">
	<div>
		<textarea ng-model="text1"></textarea>
	</div>
	
	<aaaaa></aaaaa>
	<div gh-marked='text1'></div>
	<!-- <marked hljs>
	
	  # Markdown directive
	  *It works!*  
	  ``` javascript
		var a=1;
		function test(){
			var b = 'aaa'
			return b
		}
	  ```
	  # 1
	  ```
		console.log(2)
	  ```
	</marked> -->
	<script type="text/javascript" src="/bower_components/requirejs/require.js" data-main="js/main.js"></script>
	<script type="text/javascript">

	</script>
</body>
</html>